<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Partravel</title>
</head>
<body>
    <div class="container">
        <img alt="Travelling Partner Logo" class="logo"  src="https://cdn.glitch.global/7250904d-7dd6-4e66-9065-b500d5814b94/output-onlinegiftools.gif?v=1697114896601">
        <div class="navbar">
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="finalpage.html">Organizations</a></li>
                <li><a href="programs.html">Programs</a></li>
                <li><a href="companies.html">Companies</a></li>
                <li><a href="template.html">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div>
        <video autoplay loop muted plays-inline class="back-video">
            <source src="https://cdn.glitch.global/7250904d-7dd6-4e66-9065-b500d5814b94/Ending%20poverty%20and%20hunger(720P_HD).mp4?v=1697110182941" type="video/mp4">
        </video>
    </div>
    <div class="title">
        <h1>Delight Donations</h1>
        <div class="button">
            <a href="secondpage.html" class="btn">EXPLORE NOW</a>
        </div>

    </div>
    <div class="content">
        <h1>Be The Reason<br><span>Someone Smiles Today!</span></h1>
        <p class="par">Alone We Can Do So little:<br>Together We can Do So Much</p>
    </div>
    <div class="facts">
        <p></p>
    </div>
</body>
</html>
