
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <h1 align="center" >Email :</h1><p align="center">damnnnnnnn123@gmail.com</p>
    <h1 align="center">phone :</h1><p align="center">534-20133</p>
    <h1 align="center">Adress:</h1><p align="center">d/o-007, 123 colony, 45 city, 67 state, 89 country</p><br><br><br><br><br><br>
    <footer align="center" class="f">@ 2023 Website</footer>
</body>
</html>
